In [1]:
import numpy as np
import pandas as pd

In [9]:
but = pd.read_html("C:/Users/Serhat/Desktop/Sinav object (137813) Sinav object (137813) Sınav Sonuçları.html")

In [16]:
df = but[0]

In [19]:
df

,Unnamed: 0,Öğrenci No,BuyukKucukHarfSayisi,UcBasamakli,ParaBozdur,Topla,Esikleme,Toplam Puan
0,1,2230201079,20.0,20.0,20.0,20.0,20.0,100
1,2,2230201084,20.0,20.0,20.0,20.0,20.0,100
2,3,2235076086,20.0,20.0,20.0,20.0,20.0,100
3,4,2235076096,20.0,20.0,20.0,20.0,20.0,100
4,5,99,12.0,20.0,20.0,20.0,20.0,92
...,...,...,...,...,...,...,...,...
133,134,2235076064,0.0,0.0,0.0,0.0,0.0,0
134,135,2235076069,0.0,0.0,0.0,0.0,0.0,0
135,136,2235076077,0.0,0.0,0.0,0.0,0.0,0
136,137,2235076110,0.0,0.0,0.0,0.0,0.0,0
137,138,2235076111,0.0,0.0,0.0,0.0,0.0,0

In [24]:
df

,Öğrenci No,BuyukKucukHarfSayisi,UcBasamakli,ParaBozdur,Topla,Esikleme,Toplam Puan
0,2230201079,20.0,20.0,20.0,20.0,20.0,100
1,2230201084,20.0,20.0,20.0,20.0,20.0,100
2,2235076086,20.0,20.0,20.0,20.0,20.0,100
3,2235076096,20.0,20.0,20.0,20.0,20.0,100
4,99,12.0,20.0,20.0,20.0,20.0,92
...,...,...,...,...,...,...,...
133,2235076064,0.0,0.0,0.0,0.0,0.0,0
134,2235076069,0.0,0.0,0.0,0.0,0.0,0
135,2235076077,0.0,0.0,0.0,0.0,0.0,0
136,2235076110,0.0,0.0,0.0,0.0,0.0,0
137,2235076111,0.0,0.0,0.0,0.0,0.0,0

In [25]:
df.set_index("Öğrenci No")

,BuyukKucukHarfSayisi,UcBasamakli,ParaBozdur,Topla,Esikleme,Toplam Puan
Öğrenci No,,,,,,
2230201079,20.0,20.0,20.0,20.0,20.0,100
2230201084,20.0,20.0,20.0,20.0,20.0,100
2235076086,20.0,20.0,20.0,20.0,20.0,100
2235076096,20.0,20.0,20.0,20.0,20.0,100
99,12.0,20.0,20.0,20.0,20.0,92
...,...,...,...,...,...,...
2235076064,0.0,0.0,0.0,0.0,0.0,0
2235076069,0.0,0.0,0.0,0.0,0.0,0
2235076077,0.0,0.0,0.0,0.0,0.0,0
2235076110,0.0,0.0,0.0,0.0,0.0,0
2235076111,0.0,0.0,0.0,0.0,0.0,0

In [32]:
df.to_

ValueError: Invalid tag name 'Öğrenci No'